.about-person {
  background-color: #181818;
  border: 2px solid gray;
  color: #ffffff;
  border-radius: 5px;
  min-height: 200px;
  width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 15px;
  text-align: center;
}

.img-person {
  object-fit: cover;
  object-position: center top;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}